.App {
  max-width: 800px;
  margin: auto;
  padding: 1.5rem;
}

.total {
  font-size: 1.75rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
